data/
__pycache__/
_build/

book.txt
chart.svg
dist/
doc/.ipynb_checkpoints/
example.py
logs/
predictions.csv
profile.html
profile.json
repeat.sh
results/
snakefile
test.csv
test.py
test_temperature.py
train.csv

